/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

body {
  font-family: 'Century Gothic', arial, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}


/*Class---------------------------------------------------------------------------*/

/*Navigation manue---*/
.main-nav li{
  list-style-type: none;
  display:inline;
  margin-left:0;
  text-align: center;
}

.main-nav{
  margin-left:0;
  margin-right:0;
  background-color: #2e2e2e;
  text-align: center;
  width:100%;
  padding-left: 0;

}
@media screen and (max-width: 884px) {
  .main-nav li {
    list-style-type: none;
    display:inline-block;
    margin-left:0;
    text-align: left;
    width:auto;
  }
  .main-nav li .button-nav{
    width:auto;
    padding:0.5em;
  }
  .main-nav{
    background-color: transparent;
  }
}

/*Navigation buttom---*/
.button-nav {
  display: inline-block;
  padding: 0.5em;
  color: #fff;
  background-color: #2e2e2e;
  border-color: #FFF;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: double;
  border-left-style: none;
  border-width: 0.7em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  width: 17%;

  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  /*background-color: #E64848;*/
  border-color: #E64848;
}

/*Navigation menu---*/
.news-panel{
	background-color: #999;
	display:inline-block;


	height:30em;
	width:30em;
	text-align: center;
	padding:0;

}

.service-panel{
	background-color: #4A6EB8;
	display: inline-block;
	float:left;
	clear:left;
	text-align: center;
	height:3em;


}

.list-panels{
	padding-left: 0;
	display:inline-block;
	text-align: center;
	text-align: center;
}

.list-panels-service{
	display:inline-block;
	height:30em;
	width:30em;
	text-align: center;
	padding:0;
	background-color: #999999;
}

.panels{
	display:inline-block;
	text-align: center;
}

